{% extends 'base.html.twig' %}

{% block title %}Instrument Lister !{% endblock %}

{% block body %}

    <div class="tab-lister-instrument">

        <h1>Information sur {{ instrument.type.libelle }} {{ instrument.name }}</h1>
        <div class="row">

            <div class="col-lg-6">

                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Numéro de Série</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ instrument.numSerie }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Annual) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Date d'achat</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ instrument.dateAchat|date('d/m/Y') }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Tasks Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Utilisation
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ instrument.utilisation }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Prix acheté</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ instrument.prixAchat }}€</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Accessoires</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400">⚙</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                <div class="dropdown-header">Action :</div>
                                <a class="dropdown-item" href="#">Ajouter</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Tout supprimmer</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tbody>
                            {% for i in pAccessoires %}
                                <tr>
                                <td>{{ i.libelle }}</a></td>
                                <td>
                                    <a href="#">✏️</a>
                                    <a href="#">🗑️</a>
                                </td>
                            {% else %}
                                <tr>
                                    <th>Aucun accessoire n'a été trouvé.</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <h2>Toutes les interventions :</h2>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><a href="/intervention/ajouter">Ajouter une intervention</a></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Date Debut</th>
                            <th>Date Fin</th>
                            <th>Prix</th>
                            <th>Contrat de prêt</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Date Debut</th>
                            <th>Date Fin</th>
                            <th>Prix</th>
                            <th>Contrat de prêt</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for i in pIntervention %}
                            <tr>
                            <td>{{ i.dateDebut|date('d/m/Y')}}</td>
                            <td>{{ i.dateFin|date('d/m/Y')}}</td>
                            <td>{{ i.prix}}</td>
                            <td><a href="#">Voir le contrat</a></td>
                            <td>{{ i.descriptif}}</td>
                            <td>
                                <a href="#">✏️</a>
                                <a href="#">👁️</a>
                                <a href="#">🗑️</a>
                            </td>
                        {% else %}
                            <tr>
                                <th>Aucune intervention n'a été trouvée.</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

