{% extends 'base.html.twig' %}

{% block title %}Instrument Lister !{% endblock %}

{% block body %}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tous les instruments</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_GEST' in app.user.roles %}
                <h6 class="m-0 font-weight-bold text-primary"><a href="{{ path('ajouterInstrument') }}">Ajouter un instrument</a></h6>
            {% else %}
                <h6>Liste de vos instruments</h6>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Classe</th>
                        <th>N°Serie</th>
                        <th>Achat</th>
                        <th>Utilisation</th>
                        <th>Contrat de prêt</th>
                        <th>Intervention</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Type</th>
                        <th>Classe</th>
                        <th>N°Serie</th>
                        <th>Achat</th>
                        <th>Utilisation</th>
                        <th>Contrat de prêt</th>
                        <th>Intervention</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% if user is defined %}
                        {% for i in app.user.eleve.contrats %}
                            <tr>
                            <td>{{ i.instrument.type.libelle }}</a></td>
                            <td>{{ i.instrument.type.classe.libelle }}</td>
                            <td>{{ i.instrument.numSerie}}</td>
                            <td>{{ i.instrument.dateAchat|date('d/m/Y')}}</td>
                            <td>{{ i.instrument.utilisation}}</td>
                            <td><a href="{{ path('contratListerParInstrument', {'id': i.instrument.id}) }}">Voir l'historique</a></td>
                            <td><a href="{{ path('interventionLister', {'id': i.instrument.id}) }}">Voir l'historique</a></td>
                            <td>
                                <a href="{{ path('modifierInstrument', {'id': i.instrument.id}) }}">✏️</a>
                                <a href="{{ path('consulterInstrument', {'id': i.instrument.id}) }}">👁️</a>
                            </td>
                        {% else %}
                            <tr>
                                <th>Aucun instrument n'a été trouvé.</th>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for i in pInstruments %}
                            <tr>
                            <td>{{ i.type.libelle }}</a></td>
                            <td>{{ i.type.classe.libelle }}</td>
                            <td>{{ i.numSerie}}</td>
                            <td>{{ i.dateAchat|date('d/m/Y')}}</td>
                            <td>{{ i.utilisation}}</td>
                            <td><a href="{{ path('contratListerParInstrument', {'id': i.id}) }}">Voir l'historique</a></td>
                            <td><a href="{{ path('interventionLister', {'id': i.id}) }}">Voir l'historique</a></td>
                            <td>
                                <a href="{{ path('modifierInstrument', {'id': i.id}) }}">✏️</a>
                                <a href="{{ path('consulterInstrument', {'id': i.id}) }}">👁️</a>
                            </td>
                        {% else %}
                            <tr>
                                <th>Aucun instrument n'a été trouvé.</th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
