{% extends 'base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block body %}

    <h2>Toutes les interventions :</h2>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if pInstrument is defined %}
            <h6 class="m-0 font-weight-bold text-primary"><a href="{{ path('app_intervention_ajouter', {'instrumentId': pInstrument.id}) }}">Ajouter une intervention</a></h6>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if message is defined %}
                    <h4>Pas d'intervention trouvé</h4>
                {% else %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Prix</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Prix</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for i in pInstrument.interventions %}
                        <tr>
                        <td>{{ i.dateDebut|date('d/m/Y')}}</td>
                        <td>{{ i.dateFin|date('d/m/Y')}}</td>
                        <td>{{ i.prix}}</td>
                        <td>{{ i.descriptif}}</td>
                        <td>
                            <a href="#">✏️</a>
                            <a href="/23PHONK/public/intervention/consulter/{{ i.id }}">👁️</a>
                            <a href="#">🗑️</a>
                        </td>
                    {% else %}
                        <tr>
                            <th>Aucune intervention n'a été trouvée.</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}