{% extends 'base.html.twig' %}

{% block title %}Consultation d'un contrat{% endblock %}

{% block body %}

<div class="tab-lister-instrument">

    <H1>Information sur l'intervention  {{ intervention.id }}</H1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                             <tr><td>L'id de l'intervention : </td><td>{{intervention.id}} </td></tr>
                             <tr><td>La date de début de l'intervention : </td><td>{{intervention.datedebut|date("d/m/Y")}}</td>
                             <tr><td>La date de fin de l'intervention : </td><td>{{intervention.datefin|date("d/m/Y")}}</td></tr></tr>
                             <tr><td>Le descriptif de l'intervention : </td><td>{{intervention.descriptif}}</td></tr>
                             <tr><td>Le prix : </td><td>{{intervention.prix}}</td></tr>
                    </thead>
                    <tfoot>
                </table>

{% endblock %}