{% extends 'base.html.twig' %}

{% block title %}Consultation Cours !{% endblock %}

{% block body %}
<div class="tab-lister-instrument">

    <H1>Information sur le Cours</H1>

    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="{{ path('coursAjouter') }}">Ajouter un cours</a></h6>
    </div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


    <tr><td>Jour : </td><td>{{cours.jour.libelle}}</td>
    <tr><td>Heure de début : </td><td>{{cours.heureDebut|date('H:i')}}</td>
    <tr><td>Heure de Fin : </td><td>{{cours.heureFin|date('H:i')}}</td>
    <tr><td>Instrument : </td><td>{{cours.typeInstrument.libelle}}</td>
    <tr><td>Âge Minimum : </td><td>{{cours.ageMini}}</td>
    <tr><td>Âge Maximum : </td><td>{{cours.ageMaxi}}</td>
    <tr><td>Nombre de places Max : </td><td>{{cours.nbPlaces}}</td>
    <tr><td>Professeur : </td><td>{{cours.professeur.prenom}} {{cours.professeur.nom}}</td></tr></tr>


</table>
<h2>Liste des élèves inscrits :</h2>

<ul>
    {% for inscription in elevesInscrits %}
        <li>{{ inscription.eleve.prenom }}  {{ inscription.eleve.nom }}</li>
    {% endfor %}
</ul>
    </div>
    </div>
    </div>
</div>
{% endblock %}